<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Orders</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="orders-table" [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="nro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nro</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="text-truncate">{{registro.nro}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Reference Column -->
                <ng-container matColumnDef="rude">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rude</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="text-truncate">{{registro.rude}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="estudiante">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estudiante</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="text-truncate">
                            {{registro.nombres}}
                            {{registro.apellidos}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Price Column -->
                <ng-container matColumnDef="unidad_educativa">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad Educativa</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="total-price text-truncate">
                            {{registro.unidad_educativa}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Column -->
                <ng-container matColumnDef="departamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Departamento</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="text-truncate">
                            {{registro.departamento}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="temas_sociales">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Temas Sociales</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="status text-truncate h6 p-4">
                            {{registro.temas_sociales}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="problematica">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Problemática</mat-header-cell>
                    <mat-cell *matCellDef="let registro">
                        <p class="text-truncate">
                            {{registro.problematica}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Accion</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button [routerLink]="'/pages/seguimiento'" color="accent" matTooltip="Editar">
                            <mat-icon>announcement</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(row)" color="warn" matTooltip="Eliminar">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;" class="order" matRipple [routerLink]="'/pages/seguimiento/'+row.id">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>