<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">estudiantes</span>
            </div>
            <div class="h1 mt-16">Registro de Estudiantes</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h1">
            FORMULARIO PARA OBTENER DATOS GENERALES
        </div>

        <p class="pt-16 pb-32">
            <strong>El objetivo: </strong> Contar con información estadística
            actualizada de estudiantes en situación de embarazo adolescente,en
            el sub sistema de educación regular,
        </p>

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <!-- REACTIVE FORM EXAMPLE -->

            <form class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxFlex="1 0 auto"
              name="form" [formGroup]="form">
                <div class="h2 mb-24">Registro de Estudiantes</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombres" required />
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Nombres es Requerido!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="33" class="px-4">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="apellidos" required />
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Apellidos es requerido!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="34" class="pl-4">
                        <mat-label>RUDE</mat-label>
                        <input matInput formControlName="rude" required />
                        <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                        <mat-error>Rude es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento" placeholder="Fecha de Nacimiento"
                            (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="20" class="px-4">
                        <mat-label>Codigo Cie</mat-label>
                        <input matInput formControlName="cie" required />
                        <mat-error>Codigo Cie es requerido!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Unidad Educativa</mat-label>
                        <input matInput formControlName="unidad_educativa" required />
                        <mat-error>Unidad Educativa es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="departamento" required>
                            <mat-option [value]="'La Paz'">
                                La Paz
                            </mat-option>
                            <mat-option [value]="'Cochabamba'">
                                Cochabamba
                            </mat-option>
                            <mat-option [value]="'Santa Cruz'">
                                Santa Cruz
                            </mat-option>
                            <mat-option [value]="'Potosí'">
                                Potosí
                            </mat-option>
                            <mat-option [value]="'Tarija'">
                                Tarija
                            </mat-option>
                            <mat-option [value]="'Beni'">
                                Beni
                            </mat-option>
                            <mat-option [value]="'Pando'">
                                Pando
                            </mat-option>
                            <mat-option [value]="'Oruro'">
                                Oruro
                            </mat-option>
                            <mat-option [value]="'Sucre'">
                                Sucre
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                        <mat-error>Departamento es Requerido!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                        <mat-label>Distrito</mat-label>
                        <input matInput formControlName="distrito" required />
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Distrito requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="33" class="pr-4">
                        <mat-label>Provincia</mat-label>
                        <input matInput formControlName="provincia" required />
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Provincia requerido!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="77" class="pl-4">
                        <mat-label>Domicilio</mat-label>
                        <textarea matInput matTextareaAutosize formControlName="domicilio" required></textarea>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Domicilio es requerido!</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                        <mat-label>Edad</mat-label>
                        <input matInput formControlName="edad" />
                        <mat-icon matSuffix class="secondary-text">number</mat-icon>
                        <mat-error>edad es requerido!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="px-4">
                        <mat-label>Nivel</mat-label>
                        <mat-select formControlName="nivel">
                            <mat-option [value]="'embarazo'">
                                Primaria
                            </mat-option>
                            <mat-option [value]="'embarazo'">
                                Secundaria
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                        <mat-error>Nivel es Requerido!</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="30" class="pl-4">
                        <mat-label>Grado</mat-label>
                        <input matInput formControlName="grado" />
                        <mat-icon matSuffix class="secondary-text">number</mat-icon>
                        <mat-error>Grado es requerido!</mat-error>
                    </mat-form-field>
                </div>

                <div class="h2 mb-24">Registro del Problema</div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="40">
                        <mat-label>Temas Sociales</mat-label>
                        <mat-select formControlName="temas_sociales" (selectionChange)="selecTematica($event)" >
                            <mat-option *ngFor="let tematica of temasSociales" [value]="tematica">
                                {{ tematica.titulo }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                        <mat-error>Temas Sociales es Requerido!</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="40" class="px-8">
                        <mat-label>Problematica</mat-label>
                        <textarea matInput matTextareaAutosize ></textarea>
                        <mat-error>Problematica es requerido!</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <div *ngIf="tematica" class="mat-card p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                <div fxLayout="row wrap" fxFlex="1 0 auto" *ngIf="tematica.adjArchivo">
                    <mat-label >Adjuntar archivo</mat-label>
                    <button mat-raised-button type="button" color="accent" (click)="fileToUpload.click()">
                        <mat-icon mat-list-icon>attach_file</mat-icon>Subir Archivo
                    </button>
                    <input #fileToUpload (change)="selectFile($event.target.files[0])" type="file" style="display:none;" accept=".png, .jpg, .jpeg">
                    <div *ngIf="file">
                        {{file.name}}
                    </div>
                </div>
            </div>

            <div  class="mat-card p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">
                <div fxLayout="column" fxFlex="1 0 auto" *ngIf="tematica">
                    <div *ngFor="let item of tematica.campos; let i=index" fxFlex="column" fxFlex="1 0 auto">
                        <div fxLayout="row wrap" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="70" class="pr-4">
                                <mat-label>{{item.nombre}}</mat-label>
                                <input matInput type="text" [(ngModel)]="item.value" [placeholder]="item.descripcion" required>
                                <mat-error>{{item.nombre}} es Requerido!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" fxFlex="1 0 auto">
                    <button mat-raised-button fxFlex="20" color="accent" class="submit-button mr-4" aria-label="Guardar"
                        type="button" (click)="register()" [disabled]="form.invalid">
                        Guardar
                    </button>
                    <button mat-raised-button fxFlex="20" class="ml-4" color="warn" aria-label="Guardar" type="button"
                        (click)="cancelar()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- / CONTENT -->
</div>