@import "src/theme/components/countdown/countdown.theme";
@import "src/theme/components/material-color-picker/material-color-picker.theme";
@import "src/theme/components/search-bar/search-bar.theme";
@import "src/theme/components/shortcuts/shortcuts.theme";
@import "src/theme/components/sidebar/sidebar.theme";
@import "src/theme/components/theme-options/theme-options.theme";
@import "src/theme/components/widget/widget.theme";

@mixin fuse-core-theme($theme) {

    // Theming for Fuse core styles
    @include colors-theme($theme);
    @include cards-theme($theme);
    @include material-theme($theme);
    @include page-layouts-theme($theme);
    @include typography-theme($theme);

    // Theming for Fuse components
    @include fuse-countdown-theme($theme);
    @include fuse-search-bar-theme($theme);
    @include fuse-shortcuts-theme($theme);
    @include fuse-sidebar-theme($theme);
    @include fuse-theme-options-theme($theme);
    @include fuse-material-color-picker-theme($theme);
    @include fuse-widget-theme($theme);

    // Theming for 3rd party components
    @include ngx-datatable-theme($theme);
}

