<div id="users" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    customer
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Listado de
                    Usuarios</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="users-table" [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- Nro Column -->
                <ng-container matColumnDef="nro">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nro</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.nro}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{user.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">
                            {{user.nombre}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Total Price Column -->
                <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="total-price text-truncate">
                            {{user.apellido}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Payment Column -->
                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">
                            {{user.username}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="status text-truncate h6 p-4">
                            {{user.email}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">
                            {{user.estado}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <div>
                    
                </div>

                <ng-container matColumnDef="rol">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate" class="green">
                            {{user.roles[0].name || ' '}} 
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Accion</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button [routerLink]="'/pages/usuarios/'+row.id" color="accent" matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="delete(row)" color="warn" matTooltip="Eliminar">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns;" class="user" matRipple>
                </mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>